.inline {
  display: inline-block;
  line-height: 2;
}

.disabled {
  color: $lightbg__grey;
}

.error {
  color: $error;
  font-size: .9em;
}

.close {
  color: $lightbg__primary;
  font-size: 1.5em;
  padding: 1em;
  box-sizing: border-box;
  line-height: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  border: 0px;
  margin: 0;
  &:hover {
    color: $lightbg__accent;
    background: transparent;
  }
}