//Sensor categories
#sensor-categories {
  margin-top: 2em;
}

#sensors-overview {
  .sensor__category {
    position: relative;
    display: block;
    margin: .5em 0;
    font-weight: 400;
    background: $lightblue;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
    border: 1px solid $lightgrey;
    border-left: 0;
    border-right: 0;
    &:hover {
      background: $white;
      color: $black;
      @include fastTransition-all;
    }
    @include fastTransition-all;
    @include mediaQuery(x-large) {
      max-width: 60%;
      @include fastTransition-all;
    }
    .priority-tag {
      margin-left: 0;
      text-indent: -9999px;
      width: 1.5em;
      min-width: 0;
      padding: 0;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
    }
    &.high-priority {
      color: $error-color;
    }
    &.med-priority {
      color: $alert__warning;
    }
  }
}
// Sensors

#sensors,#sensors-overview {
  .content__search {
    max-width: 60%;
  }
}

#back-link {
  margin: 1em 0 0;
  a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 1em;
    &:before {
      content:'\2039';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-56%);
      display: inline-block;
      margin-right: 3px;
      font-size: 2em;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

#sensor__details {
  display: block;
  margin-top: .6em;
  border-top: 1px solid $lightgrey;
  position: relative;
  overflow: hidden;

  .header__ac
  //Export log
  .btn-export {
    text-transform: capitalize;
    color: $black;
    font-size: .9em;
    font-weight: 700;
    position: relative;
    padding: 0 0 1em 2em;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn-export {
    margin-top: 7px;
  }
  .btn-export:before {
    content: '\21E5';
    position: absolute;
    font-size: 1.7em;
    vertical-align: middle;
    transform: rotate(90deg);
    display: inline-block;
    left: 2px;
    top: -5px;
  }

  .sensor__info {
    padding-top: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  .accord-row {
    .priority-tag {
      margin: 0 2em 0 1em;
    }
  }

  //Sensor info
  .sensor__title {
    font-weight: 400;
    font-size: 1.3em;
  }
  .sensors__description {
    font-weight: 400;
  }

  .sensor__reading {
    @include fontCourierBold;
    font-size: 1.2em;
    color: $darkgrey;
    float: left;
    margin-left: 1em;
    @media (min-width: 950px) {
      float: right;
    }
  }

  // Sensor metadata row
  .sensors__metadata-row {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: 0.5s linear max-height;
    transition: 0.5s linear max-height;
    padding: 0 1em;
    &.active {
      max-height: 1000px; //max-height used to allow flexible height of content and still allow transition
      @include mediaQuery(small) {
        max-height: 1000px;
      }
      @include mediaQuery(medium) {
        max-height: 1000px;
      }
    }

    .threshold-chart {
      position: relative;
      .threshold__label {
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        font-weight: 700;
        &.low {
          margin-left: -40px;
        }
        &.high {
          margin-left: 5px;
        }
      }
    }

  }

  //Sensor Related Items
  .sensors__related {
    width: 100%;
  }
  .sensors__related-label {
    font-weight: 700;
    margin-right: 1.2em;
    padding-top: .3em;
  }

  .sensors__related-item {
    margin-right: 1em;
    padding-top: .3em;
    display: inline-block;
    float: left;
    clear: both;
  }

  .sensors__icon {
    width: 20px;
    height: 20px;
    font-weight: normal;
    margin-right: .5em;
    margin-top: -3px;
    display: inline-block;
  }

}

//end sensor details


