<div id="sensors">
    <div class="row column">
        <h1>Sensors</h1>
    </div>
    <section class="row column">
        <div class="page-header">
            <h2 class="inline h4">Fan Speed Sensors present in the system</h2>
            <button class="inline btn-export float-right">Export</button>
        </div>
    </section>
    <!-- Filters -->
    <section class="row column">
        <!-- search -->
        <div class="content__search">
            <label for="content__search-input">Event Log Search</label>
            <input id="content__search-input" type="text" placeholder="Filter issues"/>
            <input id="content__search-submit" type="submit" class="btn btn-secondary" value="Submit"/>
        </div>
    </section> <!-- end filter -->
    <section class="row column">
    <div id="back-link">
        <a href="#/overview/sensors-overview">Back to Sensor Overview</a>
    </div>
    </section>
    <section id="sensor__details" class="row column">
        <div id="header__actions-bar" class="row ">
            <div class="column">
                <p class="inline">icon here</p>
                <h3 class="inline">Fan speed sensors<span class="h5"> (RPMs)</span></h3>
            </div>
        </div>

        <!-- Sensor -->
        <div class="row column accord-row"
             ng-class="{'active': sensors__metadatarow, 'selected': sensors__selected}">
            <div class="row">
                <div class="column small-10 large-11 sensor__info"
                     ng-click="sensors__metadatarow = ! sensors__metadatarow">
                    <p class="inline priority-tag high-priority">High</p>
                    <p class="inline sensor__title">Fan Speed 1</p>
                    <p class="inline sensor__reading float-right">6200 <span>rpms</span></p>
                </div>
                <div class="column small-2 large-1">
                    <button class="accord-trigger" ng-class="{'active': sensors__metadatarow}"
                            ng-click="sensors__metadatarow = ! sensors__metadatarow"></button>
                </div>
            </div>
            <div class="row sensors__metadata-row" ng-class="{'active': sensors__metadatarow}">
                <div class="column small-12">
                    <div class="threshold-chart">
                        <span class="threshold__label low">Low</span>
                        <span class="threshold__marker" style="left: 90%;"><p class="threshold__value">6200</p></span>
                        <span class="threshold thresh__low-critical"></span>
                        <span class="threshold thresh__low-warn"></span>
                        <span class="threshold thresh__normal"></span>
                        <span class="threshold thresh__high-warn"></span>
                        <span class="threshold thresh__high-critical"></span>
                        <span class="threshold__label high">High</span>
                    </div>
                </div>

                <div class="column small-6">
                    <p class="h5 content-header">Associated Events</p>
                    <a href="#/overview/log">View 5 events related to Fan 1</a>
                </div>
                <div class="column small-6">
                    <p class="h5 content-header">Associated Hardware</p>
                    <a href="">Chassis0</a>
                </div>
            </div>
        </div>

        <!-- Sensor -->
        <div class="row column accord-row"
             ng-class="{'active': sensors__metadatarow2, 'selected': sensors__selected}">
            <div class="row">
                <div class="column small-10 large-11 sensor__info"
                     ng-click="sensors__metadatarow2 = ! sensors__metadatarow2">
                    <p class="inline priority-tag">&nbsp;</p>
                    <p class="inline sensor__title">Fan Speed 2</p>
                    <p class="inline sensor__reading float-right">4600 <span>rpms</span></p>
                </div>
                <div class="column small-2 large-1">
                    <button class="accord-trigger" ng-class="{'active': sensors__metadatarow2}"
                            ng-click="sensors__metadatarow2 = ! sensors__metadatarow2"></button>
                </div>
            </div>
            <div class="row sensors__metadata-row" ng-class="{'active': sensors__metadatarow2}">
                <div class="column small-12">
                    <div class="threshold-chart">
                        <span class="threshold__label low">Low</span>
                        <span class="threshold__marker" style="left: 50%"><p class="threshold__value">4600</p></span>
                        <span class="threshold thresh__low-critical"></span>
                        <span class="threshold thresh__low-warn"></span>
                        <span class="threshold thresh__normal"></span>
                        <span class="threshold thresh__high-warn"></span>
                        <span class="threshold thresh__high-critical"></span>
                        <span class="threshold__label high">High</span>
                    </div>
                </div>

                <div class="column small-6">
                    <p class="h5 content-header">Associated Events</p>
                    <a href="#/overview/log">View 5 events related to Fan 1</a>
                </div>
                <div class="column small-6">
                    <p class="h5 content-header">Associated Hardware</p>
                    <p>None</p>
                </div>
            </div>
        </div>

    </section>
    <paginate ng-include="paginate"></paginate>
</div> <!-- end event log -->