<div id="sensors-overview">
    <div class="row column">
        <h1>Sensors Overview</h1>
    </div>
    <section class="row column">
        <div class="page-header">
            <h2 class="inline h4">Sensors present in the system</h2>
            <button class="inline btn-export float-right">Export</button>
        </div>
    </section>

    <section class="row column">
        <!-- search -->
        <div class="content__search">
            <label for="content__search-input">Event Log Search</label>
            <input id="content__search-input" type="text" placeholder="Filter issues"/>
            <input id="content__search-submit" type="submit" class="btn btn-secondary" value="Submit"/>
        </div>
        <div class="toggle-filter">
            <button class="inline first" ng-click="toggleall = !toggleall"
                    ng-class="toggleall ? 'btn-primary' : 'btn-secondary'">All
            </button>
            <button class="inline " ng-click="togglehigh = !togglehigh"
                    ng-class="togglehigh ? 'btn-primary' : 'btn-secondary'">Critical
            </button>
            <button class="inline" ng-click="togglemed = !togglemed"
                    ng-class="togglemed ? 'btn-primary' : 'btn-secondary'">Warning
            </button>
            <button class="inline last" ng-click="togglelow = !togglelow"
                    ng-class="togglelow ? 'btn-primary' : 'btn-secondary'">Normal
            </button>
        </div>

    </section> <!-- end search -->

    <section id="sensor-categories" class="row column">
        <a class="sensor__category" href="">All Sensors</a>
        <a class="sensor__category" href=""><span class="inline priority-tag-circ normal-priority" aria-label="Normal Priority"></span>Temperature</a>
        <a class="sensor__category" href="#/overview/sensors"> <span class="inline priority-tag-circ high-priority" aria-label="High Priority"></span>Fan Speed</a>
        <a class="sensor__category" href=""><span class="inline priority-tag-circ normal-priority" aria-label="Normal Priority"></span>Altitude </a>
        <a class="sensor__category" href=""><span class="inline priority-tag-circ normal-priority" aria-label="Normal Priority"></span>Voltage </a>
        <a class="sensor__category" href=""><span class="inline priority-tag-circ warn-priority" aria-label="Warning Priority"></span>Current</a>
        <a class="sensor__category" href=""><span class="inline priority-tag-circ normal-priority"></span>Power </a>
    </section>
</div>